@(team: Team)

@main(team.name) {
	<div class="row">
		<div class="col-md-12">
			
				<form class="form-inline" action="@{val id = team.id; routes.TeamController.update(id)}" method="post">
					<div class="form-group">
						<input placeholder="team name" type="text" class="form-control as-label" name="name" value="@team.name" \><i class="glyphicon glyphicon-pencil as-label"></i>
					</div>
					<div class="form-group">
						<button type="submit" class="btn btn-success">Save</button>
					</div>
				</form>
		</div>
	</div>
}