@(team: Team, users: List[User])

@main(team.getName()) {
	<div class="row">
		<div class="col-md-12">
			<form class="form-inline" action="@{val id = team.id; routes.TeamController.update(id)}" method="post">
				<div class="form-group">
					<input type="hidden" text="number" name="id" value="@team.id">
					<input placeholder="team name" type="text" class="form-control as-label" name="name" value="@team.name" \><i class="glyphicon glyphicon-pencil as-label"></i>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</form>
		</div>
	</div>
	
	
	<div class="row">
		<div class="col-md-5">
			<h3>Members (@team.members.size)</h3>
			
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<form class="form-inline" action="@{val id = team.id; routes.TeamController.addMember(id)}" method="post">
							<div class="input-group">
								<select name="userSelect" class="form-control">
									<option value="" disabled selected>Select someone to add</option>
								@for(user <- users) {
									<option name="id" value="@user.id">@user.getLastName(), @user.getFirstName()</option>
								}
								</select>
								<span class="input-group-btn">
									<button type="submit" class="btn btn-success">Add Member</button>
								</span>
							</div>
						</form>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Last Name</th>
									<th>First Name</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								@for(member <- team.members) {
									<tr>
										<td>@member.getLastName()</td>
										<td>@member.getFirstName() @member.getInvites().size</td>
										<td><a href="@routes.TeamController.removeMember(team.id, member.id)"><i class="glyphicon glyphicon-remove"></i> Remove</a></td>
									</tr>
								}
								<tr>
									<td>Himmel</td>
									<td>Klara</td>
									<td><i class="glyphicon glyphicon-remove"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
		
		<div class="col-md-7">
			<h3>Events (@team.events.size)</h3>
			
			<div class="row">
				<div class="col-md-12">
					<div class="form-group">
						<form class="form-inline" action="@{val id = team.id; routes.EventController.newEvent(id)}" method="post">
							<input type="datetime-local" min="2000-01-01" max="9999-12-31" name="date" class="form-control">
							<div class="input-group">
								<input type="text" name="eventName" class="form-control" placeholder="Description"></input>
								<span class="input-group-btn">
									<button type="submit" class="btn btn-success">Add Event</button>
								</span>
							</div>
						</form>
					</div>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-12">
					<div class="table-responsive">
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Event</th>
									<th>Description</th>
									<th title="Accepts"><i class="glyphicon glyphicon-ok-sign" style="color:green"></th>
									<th title="Declines"><i class="glyphicon glyphicon-remove-sign" style="color:red"></th>
									<th title="Uncertains"><i class="glyphicon glyphicon-question-sign" style="color:orange"></th>
									<th title="Unanswered"><i class="glyphicon glyphicon-info-sign" style="color:blue"></th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								@for(event <- team.events) {
									<tr>
										<td><a href="@routes.EventController.show(team.id, event.id)">@event.getDate()</a></td>
										<td>@event.getEventName()</td>
										<td>@event.getInvites().size</td>
										<td><a href="@routes.EventController.delete(team.id, event.id)"><i class="glyphicon glyphicon-remove"></i> Delete</a></td>
									</tr>
								}
								<tr>
									<td>15.12.2015 19:00 Uhr</td>
									<td>Training</td>
									<td>14</td>
									<td>4</td>
									<td>2</td>
									<td>2</td>
									<td><i class="glyphicon glyphicon-remove"></td>
								</tr>
								<tr>
									<td>17.12.2015 19:00 Uhr</td>
									<td>Training</td>
									<td>2</td>
									<td>1</td>
									<td>5</td>
									<td>12</td>
									<td><i class="glyphicon glyphicon-remove"></td>
								</tr>
								<tr>
									<td>19.12.2015 13:00 Uhr</td>
									<td>Spiel</td>
									<td>16</td>
									<td>3</td>
									<td>0</td>
									<td>1</td>
									<td><i class="glyphicon glyphicon-remove"></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
}