.nav-right{
    float: right;
}

.delete-link{
    color: #ff0000;
}

.top-margin{
    margin-top: 20px;
}

.hello-user{
    padding: 15px;
}

label{
    padding-top: 5px;
}

.glyphicon-ok-sign {
	color: green;
}

.glyphicon-remove-sign {
	color: red;
}

.glyphicon-question-sign {
	color: orange;
}

.glyphicon-info-sign {
	color: blue;
}
