@(users: List[User])

@main("Welcome to Play") {
    <div class="row">
        <div class="col-md-4">
            <h3>New User</h3>
            <form class="form-inline" action="@routes.UserController.newUser()" method="post">
                <div class="form-group">
                    <input placeholder="user name" type="text" class="form-control" name="userName" \>
                </div>
                <div class="form-group">
                    <input placeholder="first name" type="text" class="form-control" name="firstName" \>
                </div>
                <div class="form-group">
                    <input placeholder="last name" type="text" class="form-control" name="lastName" \>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-default">Create User</button>
                </div>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h3>Users</h3>
            <div class="list-group">
            @for(user <- users) {
                <a href="#" class="list-group-item">@user.userName</a>
            }
            </div>
        </div>
    </div>

}