@(user: User)

@main(user.getUserName()) {
    <div class="row">
        <div class="col-md-12">
            <h2>Update profile</h2>
            <form class="form-inline" action="@{val id = user.id; routes.UserController.update(id)}" method="post">
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="password">Password</label>
                        </div>
                        <div class="col-md-6">
                            <input type="hidden" text="hidden" name="id" value="@user.id">
                            <input type="hidden" text="hidden" name="userName" value="@user.userName">
                            <input placeholder="*******" type="password" class="form-control" name="password" \>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="firstName">First name</label>
                        </div>
                        <div class="col-md-6">
                            <input placeholder="first name" type="text" class="form-control" name="firstName" value="@user.getFirstName"\>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <div class="col-md-4">
                            <label for="lastName">Last name</label>
                        </div>
                        <div class="col-md-6">
                            <input placeholder="last name" type="text" class="form-control" name="lastName" value="@user.getLastName" \>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary top-margin">Save</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button type="button" class="btn btn-danger top-margin" data-toggle="modal" data-target="#myModal">Delete Account</button>
        </div>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Are you sure you want to delete your account?</h4>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    <a href="@routes.UserController.delete(user.id)" class="delete-link"><i class="glyphicon glyphicon-remove"></i> Yes</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
}